.Header{
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    height: auto;
}
.divs-text{
    display: flex;
    justify-content: center;
}
.Header-text{
    margin-top: 150px;
    display: flex;
    justify-content: center; 
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #333333;
}
.Header-text-h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    margin-top: -15px;
}
.Header-card {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-Hovered{
    width: 296px;
    height: 296px;
    background: #FFFFFF;
    box-shadow: 0px 25px 55px rgba(126, 126, 126, 0.15);
    border-radius: 16px;
}
.card {
    width: 296px;
    height: 224px;
    background: #FFFFFF;
    border: 1px solid #ECF2FE;
    box-sizing: border-box;
}
.card-div{
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
}
.card-div-color{
    width: 48px;
    height: 48px;
    background: #169BFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #333333;
    margin-left: 20px;
    margin-top: 10px;
}
.card-div-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    margin-left: 30px;
    width: 256px;
    height: 72px;
    margin-top: 0;
}
.card-div-end{
    width: 56px;
    height: 56px;
    margin-left: 240px;
    margin-top: 62px;
    background: #FCA100;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-div-color1{
    width: 48px;
    height: 48px;
    background: #43CC74;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-div-color2{
    width: 48px;
    height: 48px;
    background: #F7473E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-div-color3{
    width: 48px;
    height: 48px;
    background: #FCA100;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 500px) { 
    .Header-card{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        
    }
    .Header-text{
        font-size: 28px;
        line-height: 52px;
        width: 300px;
        margin-top: 50px;
    }
    .Header-text-h5{
        font-size: 16px;
        line-height: 150%;
        width: 300px;
        height: 40px;
    }
    .card-Hovered{
        width: 296px;
        height: 296px;
        margin-bottom: 20px;
    }
    .card{
        width: 296px;
        height: 224px;
        margin-bottom: 20px;
    }
}