.Navbar{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Navbar-img{
    position: absolute;
    width: 100%;
    height: 896px;
}
.Overlay{
    background: #0C245A;
    width: 100%;
    height: 896px;
    opacity: 0.8;
}
.Nav-container {
    position: absolute;
    width: 85%;
    display: block;
    height: 896px;
}
.nav-Navbar{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    align-items: center;
}
.nav-logo{
    display: flex;
}
.logo{
    margin-top: 28px;
    width: 23.21px;
    height: 42px;
}
.nav-logo-text{
    margin-left: 15px;
}
.logo-text-h3{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-bottom: -30px;
}
.logo-text-h5{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 30px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    
}
.nav-btn{
    display: flex;
}
.search{
    color: aliceblue;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 20px;
}
.nav-button {
    text-align: center;
    width: 111px;
    height: 41px;
    background: linear-gradient(180deg, #48FEBF 0%, #00B25C 100%);
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    outline: none;
    border: none;
}
.span-text{
    width: 98%;
}
.nav-span-text{
    width: 734px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 96px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    
}
.nav-span-text-h5{
    width: 734px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #ECF2FE;
    display: flex;
    flex-wrap: wrap;
}
.nav-btn-div{
    margin-top: 100px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.button-yellow{
    width: 166px;
    height: 52.53px;
    background: linear-gradient(180deg, #48FEBF 0%, #00B25C 100%);
    border-radius: 8px;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;

}

.nav-our-text{
    width: 66px;
    height: 20.81px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    
}
.Social-media-link{
    width: 430px;
    height: 23.79px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}
.Social-link{
    width: 70px;
    height: 23.79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}
.a{
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    .nav-span-text{
        width: 100%;
        font-size: 32px;
    }
    .nav-span-text-h5{
        width: 100%;
        font-size: 18px;
    }
  }
@media only screen and (max-width: 500px) {
    .Navbar{
        height: 541px;
    }
    .Navbar-img{
        height: 541px; 
    }
    .Overlay{
        height: 541px;
    }
    .Nav-container{
        width: 90%;
        height: auto;
    }
    .nav-Navbar{
        margin-top: 5px;
        height: 60px;
    }
    .search {
      display: none;
    }
    .span-text{
        margin-left: 10px;
    }
    .nav-span-text{
        width: 90%;
        font-size: 28px;
        line-height: 30px;
        line-height: 150%;
    }
    .nav-span-text-h5{
        margin-top: 0px;
        width: 100%; 
        font-size: 14px;
        line-height: 150%;
        
    }
    .Face{
        display: flex;
        justify-content: center;
    }
    .Social-media-link{
        width: 80%;
        height: 18.79px;
        margin-top: 40px;
    }
    .Social-link{
        font-size: 11px;
    }
    .nav-button{
        width: 93.98px;
        height: 33.61px;
    }
    .logo-text-h3{
        font-size: 13.8947px;
    }
    .logo-text-h5{
        font-size: 8.39474px;
    }
    .logo{
        margin-top: 12px;
        width: 23.21px;
        height: 40px;
    }
    .nav-btn-div{
        justify-content: center;
        margin-top: 60px;
    }
    .button-yellow{
        width: 100px;
        font-size: 12px;
        margin-right: 20px;
        height: 30px;
    }
    .nav-our-text{
        font-size: 12px;
        margin-top: 5px; 
    }
  }
 