.Footer {
    background: #1D293F;
    display: flex;
    justify-content: center;
}
.container { 
    width: 86%;
    height: auto;
    color: aliceblue;
}

.footer-block{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.item{
    display: block;
}
.itemh6{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C97AC;
}
.span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #E9F7FE;
    cursor: pointer;
}
.div{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color:  #00B25C;
    cursor: pointer;
}
.footer-line{
    border-top: 3px solid #313D55;
    margin-bottom: 0px;
    margin-top: 150px;

}
.footer-end{
    display: flex;
    justify-content: space-between;
    
    padding-top: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.footer-end-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 28px;
    color: #8C97AC;
}

.footer-icon{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.Footer-icons{
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
}
.Footer-icons :hover {
    color:  #48FEBF;
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 500px) {
    .footer-block{
        display: block;
    }
    .item{
        text-align: center;
    }
    .footer-end{
        flex-direction: column-reverse;
        border-top: none;
        border-bottom: 3px solid #313D55;

    }
    .footer-icon{
        margin-left: 90px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .footer-end-text{
        text-align: center;
    }
    .footer-line{
        display: none;
    }
}